.blanks-secondary {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.blanks-secondary__span {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
}

.blanks-secondary__paragraph {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444; 
}

.main-container__table {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444; 
}