.main-container__li {
    background-color: #63d1bb;
    text-align: left;
    padding: 25px 30px 30px;
    list-style-type: none;

    @media (min-width: @tablet-width) {
        width: 100%;
      }

}

.main-container__span {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    width: 130px;
    margin: 0;
}

.main-container__span-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #444444;
}

.main-container__link-product {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container__list {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    list-style-type: none;
    text-align: left;
    padding-top: 82px;
}

.main-container__section-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    width: 200px;
    text-align: left;
}

.main-container__ul {
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 750px;
        left: 10%;
        right: 10%;
        width: 80%;
      }
}

.main-container__ul-list {
    margin: 0;
    padding: 0;
}

.main-container__list:nth-child(1) {
    background-image: url(../img/svg/icon-one.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}

.main-container__list:nth-child(2) {
    background-image: url(../img/svg/icon-two.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}

.main-container__list:nth-child(3) {
    background-image: url(../img/svg/icon-three.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}

.main-container__list:nth-child(4) {
    background-image: url(../img/svg/icon-four.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}

.main-container__list:nth-child(5) {
    background-image: url(../img/svg/icon-five.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}

.main-container__list:nth-child(6) {
    background-image: url(../img/svg/icon-sixe.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 40%;
}



.main-container__li--color {
    background-color: #56c3b2;
    background-image: url(../img/svg/toy-svg.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;
}

.main-container__li--img {
    background-image: url(../img/svg/interior.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;
}

.main-container__section-description {
    padding: 20px;
}

.main-container__table {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444; 
}

.main-container__table-line {
    text-align: left;
}

.main-container__table-column {
    width: 130px;
}

.main-container__section-img {
    padding: 0 30px 30px 30px;
}

.main-container__img {
    margin-bottom: 30px;
}

.main-container__link-product {
    padding: 20px 90px 20px;
    border: 2px solid #444444;
}

.main-container__span-price {
    margin: 0;
    margin-bottom: 40px;
}

.main-container__section-description--margin {
    margin-bottom: 89px;
}

.main-container__div-flex {
    display: flex;
}

.main-container__section {
    margin-bottom: 65px;
}