.main-header__li {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    list-style: none;
}

.main-header {
    padding: 20px 0 20px;

    @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    display: grid;
      }
}

.main-header__svg {
    position: absolute;
    right: 40%;

    @media (min-width: @tablet-width) {
        display: none;
      }
    
      @media (min-width: @desktop-width) {
        display: none;
      }
}

.main-header__svg-tablet {
    @media (min-width: @mobile) {
        display: none;
    }
    @media (min-width: @tablet-width) {
        display: block;
        grid-column-start: 1;
        grid-column-end: 4;
      }
    
      @media (min-width: @desktop-width) {
        display: none;
      }
}

.main-header__svg-desktop {
    @media (min-width: @mobile) {
        display: none;
    }
    @media (min-width: @tablet-width) {
        display: none;
      }
    
      @media (min-width: @desktop-width) {
        display: block;
      }
}