.welcome-section-header {
   background-image: url(../img/webp/hero-mobile.webp);
   background-repeat: no-repeat;
   box-sizing: border-box;
   background-size: 100%, cover;
   padding: 75px 20px 200px;
}

.welcome-section-header__h1 {
   font-weight: 700; 
   font-size: 27px;
   line-height: 30px;
   margin: 0;
}